<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <style>
        th, td {
            text-align: left;
            padding: 8px;
          }
        tr:hover {
            background-color: coral;
        }
        tr:nth-child(even) {background-color: #f2f2f2;}
        #link_button {
            text-decoration: none;
            color: black;
        }
        table {
            width: 10% 5% 15% 50% 20% 10%;
          }
    </style>
</head>
<body>
    <div>
        <h1>Abbreviation Finder</h1>
        <form action="find/" method="post">
            <div>
                {% csrf_token %}
            Abbreviation:
            <input name="abbreviation">
            <input type="submit" value="Search">
            {{ response }}
            </div>
            <br><br>
        </form>
        <div>
            <table border="1">
            <tr class="header">
            {% if findAbbreviation.id == "id" %}
            Enter abbreviation what you find
            {% else %}
            <th style="width:3.5%">Update</th>
            <th style="width:2%">ID</th>
            <th style="width:5%">Abbreviation</th>
            <th style="width:30%">Definition</th>
            <th style="width:40%">Information</th>
            <th style="width:15%">Project Category</th>
            <th style="width:3.5%">delete</th>
            {% endif %}
            </tr>
            <tr>
            {% if findAbbreviation.id == "id" %}
            {% else %}
            <td><button><a id="link_button" href="update/{{ findAbbreviation.id }}">Update</a></button></td>
            <td>{{ findAbbreviation.id }}</td>
            <td>{{ findAbbreviation.abbreviation }}</td>
            <td>{{ findAbbreviation.definition }}</td>
            <td>{{ findAbbreviation.information }}</td>
            <td>{{ findAbbreviation.project_category }}</td>
            <td><button onclick=myFunction({{ findAbbreviation.id }})>Delete</button></td>
            {% endif %}
            </tr>
            </table>
        </div>
        <br><br>
    </div>
    <div>
        <button>
            <a id="link_button" href="add/">Add Abbreviation</a>
        </button>
    </div>
    <div>
        <h1>All Abbreviation</h1>
        <table border="1">
        <tr class="header">
            <th style="width:3.5%">Update</th>
            <th style="width:2%">ID</th>
            <th style="width:5%">Abbreviation</th>
            <th style="width:30%">Definition</th>
            <th style="width:40%">Information</th>
            <th style="width:15%">Project Category</th>
            <th style="width:3.5%">delete</th>
        </tr>
        {% for x in myabbreviation %}
        <tr>
            <td><button><a id="link_button" href="update/{{ x.id }}">Update</a></button></td>
            <td id='id_abbre'>{{ x.id }}</td>
            <td>{{ x.abbreviation }}</td>
            <td>{{ x.definition }}</td>
            <td>{{ x.information }}</td>
            <td>{{ x.project_category }}</td>
            <td><button onclick=myFunction({{ x.id }})>Delete</button></td>
        </tr>
        {% endfor %}
        </table>
    </div>

    <script>
        function myFunction(x) {
            if (confirm("You want to delete?") == true) 
            {
                location.href = `delete/${x}`;
            } 
        }
    </script>
</body>
</html>