<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Update member</h1>
    <form action="updaterecord/{{ myabbre.id }}" method="post">
    {% csrf_token %}
    Abbreviation:<br>
    <input name="abbreviation" value="{{ myabbre.abbreviation }}">
    <br><br>
    Definition:<br>
    <input name="definition" value="{{ myabbre.definition }}">
    <br><br>
    Information:<br>
    <input name="information" value="{{ myabbre.information }}">
    <br><br>
    Project:<br>
    <input name="project" value="{{ myabbre.project }}">
    <br><br>
    <input type="submit" value="Submit">
    </form>
</body>
</html>